<div class="textAlignJustify spaceBetween fullWidth marginTop10 marginBottom-25">
    <a class="inlineBlock iconWidth" href="https://www.facebook.com/rjfreund1" target="_blank">
        <img title="R.J. Freund's Facebook" src="./img/icons/FB-f-Logo__blue_1024.png" />
    </a>
    <a class="inlineBlock iconWidth" href="https://twitter.com/rj_freund" target="_blank">
        <img title="R.J. Freund's Twitter" class="circle twiterBlueBackground" src="./img/icons/TwitterLogo_white.png" />
    </a>
    <a class="inlineBlock iconWidth" href="https://www.linkedin.com/in/rjfreund" target="_blank">
        <img title="R.J. Freund's LinkedIn" src="./img/icons/In-2C-128px-TM.png"/>
    </a>
    <a class="inlineBlock iconWidth" href="https://github.com/rjfreund" target="_blank">
        <img title="R.J. Freund's GitHub" src="./img/icons/GitHub-Mark-120px-plus.png"/>
    </a>
</div>