<h2>About Me</h2>
<div class="paddingTop10">
    <img class="floatLeft goldenRatioWidthSmall paddingRight10" src="../img/rjAndRisa.png" />
    I am R.J. Freund, a {{ getYearsSince('1990-08-17') }} year old male senior Computer Science student at University of Wisconsin - Oshkosh.
    I currently make websites in Oshkosh, WI, but I also specialize in computer repair and software engineering.
    I enjoy reading, practicing Tai Chi, and messing around with computers. My wife and I both sing in the newVoices choir, previously known as the White Heron Chorale. I currently live with my wife, Risa, in Oshkosh, WI.
</div>