<h2>Contact</h2>
<div class="paddingTop10">
    If you are interested in contacting me, my contact information is as follows:
</div>
<table class="paddingTop10">
    <tbody class="verticalAlignTop">
    <tr>
        <td class="paddingRight10 bold">Cell Phone:</td>
        <td class="verticalAlign">(920) 420-9478</td>
    </tr>
    <tr>
        <td class="bold">Email:</td>
        <td><a href="mailto:robert.joseph.freund@gmail.com">robert.joseph.freund<br/>@gmail.com</a></td>
    </tr>
    <tr>
        <td class="bold">Address:</td>
        <td>
            1028A Ceape Ave<br/>
            Oshkosh, WI 54901
        </td>
    </tr>
    </tbody>
</table>
<iframe class="paddingTop10 fullWidth" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.15118567735!2d-88.52298595000003!3d44.01247017008054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8803eb86ffe0a0a7%3A0xbeed76676e9446d3!2s1028+Ceape+Ave%2C+Oshkosh%2C+WI+54901!5e1!3m2!1sen!2sus!4v1389722780254" width="400" height="300" frameborder="0" style="border:0"></iframe>