<img title="R.J. and Risa at their Wedding 1-9-2014" class="block fullWidth marginBottom10" src="./img/rjfreund_home.png" />

Hello! My name is R.J. Freund, and I love working with computers.
I highly enjoy creating projects that are detailed, simplistic, and usable.
Whether it be repairing people's computers, creating engaging websites, or building productive software,
I can solve any problem professionally and skillfully.
Also, this website is meant to be a direct example of an outlet of my creative and professional works,
and I hope your visit here is enjoyed just as much as I enjoyed creating this website.
Don't forget that this website is smartphone and tablet compatible.
Feel free to explore and have fun!