<h2>Projects</h2>
<!--
<h3><a class="paddingTop10 blueText block" href="/risaspizzas" target="_blank">
        Risa's Pizzas
    </a></h3>
<div class="paddingLeft20">
    <span class="bold">Risa's Pizzas</span> was my first website.
    It was designed around an imaginary pizza shop that Risa and I would open.
    My wife Risa helped me decide much of the color scheme and styling.
    The website has also been touched up a bit to make the code more maintainable.
</div>
-->
<h3><a class="paddingTop10 blueText block" href="http://www.uwsp.edu/cols" target="_blank">
    UW-Stevens Point - College of Letters and Science
</a></h3>
<h3><a class="paddingTop10 blueText block" href="http://www.uwsp.edu/biology" target="_blank">
    UW-Stevens Point - Biology
</a></h3>
<h3><a class="paddingTop10 blueText block" href="http://www.uwsp.edu/cols-ap" target="_blank">
    UW-Stevens Point - Collaborative Degree Program
</a></h3>