<div class="textAlignCenter">
<h2>Services</h2>
<div id="repair" class="paddingTop10">
  <h3>Repair</h3>
  I have the most computer experience handling computer repairs. I've been tinkering and repairing computing devices for about 10 years.
  If you need your computer or other computing device repaired (such as a printer, gaming console, or smart phone), I would be more than happy to give a price quote free of charge.
</div>
<div id="websites" class="paddingTop20">
  <h3>Websites</h3>
  I have been studying Website Development for {{ getYearsSince('2011-01-01') }} years,
  and I have the vision and work-ethic to make your website a reality.
  You can view a list of projects that I've worked on here:
  <a class="block blueText" href="https://github.com/RJFreund?tab=repositories" target="_blank">Projects</a>
</div>
<div id="software" class="paddingTop20">
  <h3>Software</h3>
  Software is a powerful tool that can be used to solve many problems, such as scheduling, managing a list of tasks, or handling library book check-out systems.
  Whatever your organizational need is, I can help create it. If you require a certain programming language to be implemented in your work, you can either contact me and ask what experience I have, or you can find a list of my most familiar programming languages here:
  
  <div class="paddingTop20">
    <h4>Programming Languages, Frameworks, and Concepts</h4>
    <ul class="paddingInherit pt-0 listStylePositionInside">
      <li>C</li>
      <li>C++</li>
      <li>C#</li>
      <li>ASP.NET</li>
      <li>MVC 4</li>
      <li>SharePoint</li>
      <li>Silverlight / XAML</li>
      <li>XML</li>
      <li>SQL</li>
      <li>Java / Android</li>
      <li>Responsive Design</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>PHP</li>
      <li>WordPress</li>
    </ul>
  </div>
  
  </div>
</div>