<!DOCTYPE html>
<html ng-app="myApp" ng-controller="AppController">
<head>
    <title  ng-bind="getPageTitle()">R.J. Freund's Website</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-ui-router-title/angular-ui-router-title.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
    <div ui-view></div>
</body>
</html>