<div class="table fullWidth">
    <div class="logoContainer tableCell verticalAlign">
        <a ui-sref="home">
            <img class="noBorder" src="/img/logo.png"/>
        </a>
    </div>
    <div class="tableCell verticalAlign paddingLeft15">
        <h1 class="raleway blueText fontWeight600">R.J. Freund
            <span class="openSans fontSize14">Computer Specialist</span>
        </h1>
        <div>(920) 420-9478</div>
        <a href="mailto:rj@rjfreund.com">
            robert.joseph.freund<br/>
            @gmail.com
        </a>
    </div>
</div>
<div class="table fullWidth bold">
    <a class="tableCell raleway textAlignCenter borderLeft blackBorder blueText" ui-sref="repair">
        Repair
    </a>
    <a class="tableCell raleway textAlignCenter borderLeft blackBorder blueText" ui-sref="websites">
        Websites
    </a>
    <a class="tableCell raleway textAlignCenter borderLeft blackBorder blueText borderRight" ui-sref="software">
        Software
    </a>
</div>