<header>
    <div class="table fullWidth">
        <div class="logoContainer tableCell verticalAlign">
            <a href="/">
                <img class="logo fullHeight noBorder" src="/img/logo.png"/>
            </a>
        </div>
        <div class="tableCell verticalAlign">
            <h1 class="raleway blueText fontWeight600">R.J. Freund</h1>
            <div class="bold">Computer Specialist</div>
            (920) 420-9478 <br/>
            <a href="mailto:robert.joseph.freund@gmail.com">
                robert.joseph.freund<br/>
                @gmail.com
            </a>
        </div>
    </div>
    <div class="table fullWidth bold marginBottom20">
        <a class="tableCell raleway textAlignCenter borderLeft blackBorder blueText" ui-sref="repair">
            Repair
        </a>
        <a class="tableCell raleway textAlignCenter borderLeft blackBorder blueText" ui-sref="websites">
            Websites
        </a>
        <a class="tableCell raleway textAlignCenter borderLeft borderRight blackBorder blueText" ui-sref="software">
            Software
        </a>
    </div>
</header>